@import "tailwindcss";

:root {
  color-scheme: light dark;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #0a0a0a;
}

#app {
  margin-left: auto;
  margin-right: auto;
  max-width: 72rem; /* 1152px */
  padding: 1.5rem;
}
